@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

html,
body {
    margin: 0;
    padding: 0;

    font-family: 'JetBrains Mono', monospace;
    color: black;
    background-color: white;
}

button {
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    font-family: inherit;
}

input,
textarea {
    border: 1px solid black;
    color: black;
    accent-color: black;
    background-color: white;
    outline: none;
    font-family: inherit;
}

.content {
    min-height: 100vh;

    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
}

.header {
    grid-column: 1 / 3;
    text-align: center;
    border-bottom: 1px solid black;
}

.sidebar {
    border-right: 1px solid black;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0 24px;
}

.sidebar li {
    margin: 16px 0;
}

.sidebar ul a {
    color: black;
}

.sidebar h2 {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    margin: 16px 24px;
}

.sidebar button.new-project {
    margin: 0 24px;
}

.main-content h2 {
    margin: 8px 16px;
}

.main-content ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-content li {
    padding: 16px;
    margin: 16px;
    border: 1px solid black;
    width: 570px;

    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.main-content .title {
    width: 150px;
}

.main-content .description {
    width: 100%;
}

.main-content .date {
    margin-right: 8px;
}

.main-content .priority {
    color: dimgray;
    margin-right: auto;
}

.new-item {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    display: none;
    /* turn off popup */
}

.new-item form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.new-item input[type="date"],
.new-item input[type="text"],
.new-item fieldset,
textarea {
    width: 300px;
    padding: 3px;
}

.new-item textarea {
    height: 200px;
    resize: none;
}

.new-item fieldset {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}

.new-item label,
.new-item legend {
    margin-top: 10px;
}

.new-item .buttons {
    margin-top: 20px;
}
